@tailwind base;
@tailwind components;
@tailwind utilities;

/* CameraScanner styles */
#reader video {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}

#reader canvas {
    display: none !important;
}

#reader>div {
    border: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
}

@keyframes scanner-line {
    0% {
        top: 20%;
    }

    50% {
        top: 80%;
    }

    100% {
        top: 20%;
    }
}

.animate-scanner-line {
    animation: scanner-line 3s ease-in-out infinite;
}